/* Styles for the elements */
* {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 100%;
}
body {
    font-size: 100%;
    margin-left: 2em;
    margin-left: 2em;
    background-color: lightyellow;
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0;
    }
    
    .gallery figure {
        margin: 10px;
        text-align: center;
        flex: 1 1 calc(30% - 20px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.2s;
    }
    
    .gallery figure:hover {
        transform: scale(1.05);
    }
    
    .gallery img {
        width: 75%;
        height: auto;
        border-radius: 8px 8px 0 0;
    }
    
    .gallery figcaption {
        padding: 10px;
        background-color: white;
        border-radius: 0 0 8px 8px;
    }
}

/* Styles for the header */
header {
    display: block;
}
h1 {
    font-size: 175%;
    color: crimson;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
h2 {
    font-size: 125%;
    color: lightblue;
    text-shadow: 2px 2px 2px black;
}
h3 {
    font-size: 95%;
    color: royalblue;
    text-shadow: 1px 1px 1px black;
}

/* Styles for the nav ul */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Styles for the nav ol */
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Styles for the section */
section {
    display: block;
}
h2 {
    font-size: large;
    color: royalblue;
    text-shadow: 1px 1px 1px black;
}

/* Styles for the footer */
footer {
    text-align: center;
}

/* Styles for the gallery */

